DATABASE_URL="postgresql://neondb_owner:npg_SQqz5RYa7shE@ep-restless-sun-az3cv189-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require"
GOOGLE_CLIENT_ID="409081526568-8nilctdj34c53j0i9a109rufphes50tc.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
NEXTAUTH_SECRET="a_very_secret_string_for_nextauth_kuesioner_app"
NEXTAUTH_URL="http://localhost:3000"
ADMIN_EMAILS="arliannasrul@gmail.com,nofrian.hendrawan@unmer.ac.id"
CLOUDINARY_URL="cloudinary://417413897598697:Re-8jAl4AgQ4n0Ulxt2p2IGCdbo@dpxd2wzjr"
